body{
    margin: 0%;
}

.grid{
    display: grid;
    grid-template-areas: 
    "cabecalho cabecalho cabecalho"
    "propaganda conteudo conteudo"
    "rodape rodape rodape";
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 2fr 5fr 1fr;
    gap: 15px 10px;
}

.cabecalho{
    grid-area: cabecalho;
    border: solid 2px rgb(0, 0, 0);
    background-color: #707B7C ;
}

.propaganda{
    grid-area: propaganda;
    border: solid 2px rgb(0, 0, 0);
    background-color: #707B7C ;
}

.conteudo{
    grid-area: conteudo;
    border: solid 2px rgb(0, 0, 0);
    background-color: #707B7C ;
}

.rodape{
    grid-area: rodape;
    border: solid 2px rgb(0, 0, 0);
    background-color: #707B7C ;
}

